*{

    padding: 0;
    margin: 0;
}

body{

    font-family: sans-serif;
    box-sizing: border-box;
}

.menu-bar {

    background: black;
    text-align: center;
}

.menu-bar ul{

    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li {

    width: 120px;
    margin: 15px;
    padding:15px;
}

.menu-bar ul li a {

    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover {

    background: grey;
    border-radius: 3px;
}

.sub-menu-1{

    display: none;


}

.menu-bar ul li:hover .sub-menu-1 {

    display: block;
    position: absolute; 
    background: rgb(38, 36, 45);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{

    display: block;
    margin: 10px;
    
}

.menu-bar ul li:hover .sub-menu-1 ul li {

    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;  

}


.menu-bar ul li:hover .sub-menu-1 ul li:last-child{

    border-bottom: none;
}

menu-bar ul li:hover .sub-menu-1 ul li a:hover{

    color: rgb(45, 47, 59);
}


.Login{

align-content: right;
width: 75px;
height: 50px;
top: 0px;
left: 450px;
position: relative;
border-radius: 15px;


}


.LogoTop{

    position: absolute;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 100px;

}
